
.selector-for-some-widget {
    box-sizing: content-box;
}
.marg{
    margin-top:5px;
     transition: 0.3s;
     border-radius:10px;
     width: 100px;
     padding: 5px;
     display: inline-block;
     margin: 30px;
     background-color:gainsboro;
     color:darkcyan;
}
.marg:hover{
    box-shadow:0 16px 24px 0 lightslategrey;
}
