
<form [formGroup ]="signUpForm">
    <h1> היי, אנו שמחים מאוד שהינך רוצה להצטרף</h1>
   <h2> בחר שם משתמש וסיסמא, והם ישמרו לתמיד</h2>

    <label for="fn">שם משתמש:</label>
    <input formControlName="userName" class="form-control" type="text" placeholder="ישראל" id="fn">
 
    <label for="pass">סיסמא:</label>
    <input formControlName="password"   class="form-control" type="password" placeholder="" id="pass">

    <!-- <label for="cpass">אימות סיסמא:</label>
    <input class="form-control" type="password" placeholder="" id="cpass"> -->


    <!-- <input type="checkbox" id="agree"> -->
    <!-- <label for="agree">אני מאשר את תנאי השימוש באתר זה</label> -->
    <input class="btn btn-primary" type="submit" (click)="doSignUp()" value="הרשם">
  
</form>
