

<div id="D" >
<h1 style="text-align: center;margin-top: 15px;"> מסלול לפי חניות  </h1>
<h2 >הנך מתבקש ללחוץ על החנויות שברצונך להכניס למסלול  </h2>
<div>
    <!-- צריך בכל לחיצה על חניות להןסיף אןתה לסל  -->
<button id="b"  *ngFor="let s of allStores" 
(click)="addToCard(s)" 
>
<!-- אני רוצה לעשות כאן אם בחנות יש מבצע הצבע ירוק -->
 {{s.NameStor}}</button>
 

</div>
</div>
<!-- <div id="card">
<p>רשימת החניות שנבחרו</p>
<div *ngFor="let s of stroeCard">
    <button>{{s.NameStor}}</button>
</div>
</div> -->
<div class="card" style="width: 18rem;">
    <img [src]=cart class="card-img-top"  width="500px" height="190px" >
    <div class="card-body">
      <h5 class="card-title">רשימת החניות שנברחרו :)</h5>
    </div>
    <ul class="list-group list-group-flush" >
      <li *ngFor="let s of stroeCard" class="list-group-item">{{s.NameStor}}</li>
      
    </ul>
    <p class="list-group-item">א'-ה': 10:00-22:00
        ו' וערבי חג: 09:00-15:00
        מוצ"ש ומוצאי חג: 30 דק' מצאת שבת – 23:00</p>
    <button type="submit">למסלול</button>
  </div>