

 .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  #logo{
    box-shadow: inset white;
    border-radius: 70%;
    width: 80px;
    text-align: center;
    height: 60px;
  }
  #logo:hover{
   box-shadow: 0px 4px 6px green;
  }
  #logo:focus{
    background-color: aqua;
  }
  #bot{
    text-align: center;

  }

