
<style>

  #b{
      font-weight: bold;
      font-size: smaller;
      font: optional;
      
     border: coral solid 2px;
      background-color: coral;
       color: white;
      box-shadow: 0 16px 24px silver;
      transition: 0.3s;
      border-radius: 5px;
      width: 10vw;
      padding: 10px;
      display: inline-block;
      margin: 35px;
     
      margin-left: 20px;
      margin-right: 20px"
   }
   #b:hover{
      box-shadow: 0 16px 24px coral;
  
      border:  whitesmoke solid 2px;
       background-color: whitesmoke;
       color:coral
   }
  </style>
  
  
  <div style="
  width: 100%;
  height: 500px;
  text-align: center;">
  <h1 style="text-align: center;margin-top: 15px;"> מסלול לפי קטגוריות  </h1>
  <h2 style="">הנך מתבקש ללחוץ על הקטגוריות שאותם הינך מעוניין להוסיף למסלול     </h2>
  <div>
  <button  id="b"  *ngFor="let s of allCategory" 
  >{{s.NameCategory}}
  </button>
  </div>
  <div id="card">
<p>רשימת הקטגוריות שנבחרו</p>
<div *ngFor="let c of cardCategorys">
    
 <button>{{c.NameCategory}}</button>

</div>