
<style>

  #b{
      font-weight: bold;
      font-size: smaller;
      font: optional;
      
     border: coral solid 2px;
      background-color: coral;
       color: white;
      box-shadow: 0 16px 24px silver;
      transition: 0.3s;
      border-radius: 5px;
      width: 10vw;
      padding: 10px;
      display: inline-block;
      margin: 35px;
     
      margin-left: 20px;
      margin-right: 20px"
   }
   #b:hover{
      box-shadow: 0 16px 24px coral;
  
      border:  whitesmoke solid 2px;
       background-color: whitesmoke;
       color:coral
   }
  </style>
  
  
  <div style="
  width: 100%;
  height: 500px;
  text-align: center;">
  <h1 style="text-align: center;margin-top: 15px;"> מסלול לפי קטגוריות  </h1>
  <h2 style="">הנך מתבקש ללחוץ על הקטגוריות שאותם הינך מעוניין להוסיף למסלול     </h2>
  <div>
  <button  id="b"  *ngFor="let s of allCategory" (click)="addToCard(s)" >{{s.NameCategory}}</button>
  </div>

  <div id="card">
    <div class="card" style="width: 18rem;">
      <img [src]=cart class="card-img-top"  width="500px" height="190px" >
      <div class="card-body">
        <h5 class="card-title">רשימת החניות שנברחרו :)</h5>
      </div>
      <ul class="list-group list-group-flush" >
        <p   *ngFor="let s of cardCategorys" >
        <!-- אני רוצה לעשות כאן אם בחנות יש מבצע הצבע ירוק -->
         {{s.NameCategory}}</p>
        
      </ul>
      <p class="list-group-item">א'-ה': 10:00-22:00
          ו' וערבי חג: 09:00-15:00
          מוצ"ש ומוצאי חג: 30 דק' מצאת שבת – 23:00</p>
      <button (click)="createRotue('app-path')">למסלול</button>
  
    </div>