
<div style="padding-top: 1rem!important; padding-bottom: 1rem !important;" class="container col-xl-10 col-xxl-8 px-4">
    <div class="row align-items-center g-lg-5 ">
      <div style="padding-top: 1rem!important; padding-bottom: 1rem !important;" class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3"> router of Categorys</h1>
        <!-- <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p> -->
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form  FormGroup="RouterCategorysForm" style="border-radius: 10px;  background-image: url(assets/build.png); background-repeat: no-repeat;background-size: 562px 441px;" class="p-4 p-md-5">
          
          <button style="background-color: black;color:white" class="w-100 btn btn-lg btn-primary"  (click)="dostart()" type="submit">srart</button>
          <hr class="my-4">
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>