<!doctype html>
<html lang="en" class="about-content">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>
</head>
<body style="margin-top: 0%;">
    <style>
        .selector-for-some-widget {
            box-sizing: content-box;
        }
        .marg{
            margin-top:5px;
             transition: 0.3s;
             border-radius:10px;
             width: 100px;
             padding: 5px;
             display: inline-block;
             margin: 30px;
             background-color:gainsboro;
             color:darkcyan;
        }
        .marg:hover{
            box-shadow:0 16px 24px 0 lightslategrey;
        }
    </style>
 
    <div style="margin-top: 0%;" id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="height: 70%;" >
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img  [src]="imageSrc" class="d-block w-100"style="width: 772px;
                height: 435px;" >
                <div class="carousel-caption d-none d-md-block">
                    <h5>Navigation app</h5>
                    <p>Some representative placeholder content for the third slide.</p>               
                 </div>
              </div>
              <div class="carousel-item">
                <img  [src]="imagRenanim" class="d-block w-100"style="    width: 772px;
                height: 435px;" >
                <div class="carousel-caption d-none d-md-block">   
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>                  </div>
              </div> 
         
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
   

    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <nav style="margin-top:1rem ;text-align:center">
        <a  href="animaKir.html" class="marg">קירות</a>
        <a  href="animaLochot.html" class="marg">לוחות</a>
        <a  href="animaMadeka.html" class="marg">מדבקות</a>
        <a  href="animaRoom.html" class="marg">חדרים</a>
        <a  href="animaShonot.html" class="marg">שונות</a>
    </nav> -->
</body>
</html>